html {
  scroll-behavior: smooth;
}

body{
        background-color: black;
    }


/* Navbar */
.navbar-brand{
    font-family: Viga;
    font-size: 32px;
}

.navbar{
    box-shadow: 0 3px 20px rgba(0,0,0,0.4);
}

.nav-link{
    font-weight: 550;
}

/* Jumbotron */
.jumbotron{
    background-image: url(1366x640.png);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
}

.jumbotron .container{
    z-index: 1;
    position: relative;
}

/* .btn-primary{
    background-color: #837AE3;
    border-color: #837AE3;
}

.btn-primary:hover{
    background-color: #5C4FEF;
    border-color: #837AE3;
} */

.jumbotron::after{
    content: '';
    display:block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color:white;
    margin-top: 225px;
    font-weight: 200px;
    font-size: 40px;
    margin-bottom: 30px;
}

.jumbotron .display-4 span {
    font-weight: bold;
}

/* IMG Foto */

.biodata .col-lg-3 img{
    max-height: 300px;
    border-radius: 14px;
}

/* biodata */
.biodata{
    background-color:white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    padding: 30px;
    border-radius: 12px;
}

/* biodata kolom kanan */
.biodata .col-9{
    padding-top: 10px;
}

/* biodata-aboutme */
.biodata h3{
    font-weight: bold;
    margin-bottom: 15px;
}

/* ListBiodata */
.row .listBiodata{
    margin-top: 15px;
}


/* biodatabaru */
.biodatabaru{
    margin-top: 50px;
}

.biodatabaru .col img{
    border-radius: 22px;
}

.biodatabaru h3{
    font-size: 54px;
    font-weight:500;
    color: white;
    text-transform:capitalize;
    margin-top: 30px;
    margin-bottom: 30px;
}

.biodatabaru .erwin{
    padding-left: 40px;
    color: white;
}


/* testimonial */
.testimonial {
    margin-top: 100px;
}

.testimonial h5{
    text-align: center;
    font-weight: 200;
    font-style: italic;
    font-size: 24px;
}

section{
   margin-top: 120px;
   margin-bottom: 120px;
}

section h3{
    font-size: 38px;
    color: white;
    font-weight: bold;

}

hr{
    background-color:#0b63dc;
    height: 1px;
    width: 15%;
}

section p{
    /* color: rgb(90, 90, 90); */
    color: white;
    font-size: 16px;
    /* font-size: 17px; */
}


.material-icons{
    size: 2px;
}

/* .listIcon img{
    /* color: #0b63dc !important; */
    /* fill: blue; */


.row .listIcon dt{
    font-size: 16px;
    /* color: rgb(90, 90, 90); */
    color: white;
    font-weight: 400;
}

.row .listIcon dt img{
    margin-right: 10px;
}


.row .col-lg-7 img{
    max-width: 220px;
    padding-bottom: 4px;
}




.col-9{
    margin-top: 40px;
}

/* info panel */
.info-panel{
    background-color: white;
    box-shadow: 0 3px 20px rgba(0,0,0,0.5);
}

/* Utility */
.tombol{
    text-transform: uppercase;
    border-radius: 40px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    font-weight: bold;
}

/* footer */

footer{
    padding-bottom: 75px;
}

footer p{
    margin-top: 10px;
    margin-bottom: 1px;
    color: white;
}

footer a{
    /* font-size: 18px; */
    color: white;
}

.col-12 h4{
    color: white;
    font-size: 18px;
}

.col-12 .garis{
    margin-top: -3px;
    width: 4.5%;
    height: 4px;
}

footer .row .footerbawah{
    margin-top: -5px;
}

.col-lg p{
    font-weight: bold;
}

li a{
    margin-left: 0px;
}

li{
    margin-left: -7px;
}

/* DESKTOP VERSION */
@media (min-width: 992px) { 
        .nav-link{
        text-transform: uppercase;
        color: white;
        margin-right: 21px;
    }

    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 2px solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-top: -7px;
    }

    .jumbotron{
        height: 640px;
    }

    .jumbotron .display-4{
        font-size: 62px;
        margin-top: 200px;
    }

    .bg-dark{
    /* background-color: transparent !important; */
    box-shadow: 0 3px 20px rgba(0,0,0,0.4);
    }


    .row .col-lg-7{
    padding: 20px;
    padding-left: 130px;
}
    .testimonial h5{
        font-size: 32px;
    }
}

@media (max-width: 992px){
    footer{
        text-align: center;
    }
    footer #contact{
        margin-left:42.5%!important;
    }

    .garis{
        margin-left:47.5%!important;
    }


}